body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color:blue;
}

.box{
  background-color:blue;
  color: #fff;
  padding: 10px 20px;
  font-size: 80px;
  font-weight: 900;
  transform-origin: top left;
  animation: hinge 2s ease-in-out;
}

@keyframes hinge{
  20%, 60%{
    transform: rotate(70deg);
  }
  40%, 80%{
    transform: rotate(55deg);
    opacity: 1;
  }
  100%{
    transform: translateY(600px);
    opacity: 0;
  }
}
.navbar-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}